html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /* background-color: #f8f9fa; */
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
  filter: blur(2px);
  pointer-events: none;
}

div {
  padding: 12px;
}

.con {
  display: flex;
  justify-content: space-between;
}

.info {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: #f8f9fa;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  font-weight: 500;
  height: 100%;
}

.container1 {
  background-color: #f8f9fa;
  padding: 13px;
  border-radius: 15px;
  height: 100%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
              rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: rgba(255, 255, 255, 0.85);
}

input[type="text"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.fields {
  color: black;
  font-weight: 600;
}
